# Needed for CLIP

Pillow==7.2.0
ftfy==5.8
regex==2020.11.13

--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu
torchvision==0.8.2+cpu

# Data science

pandas==1.1.5
dspipe==0.2.3
numpy==1.19.5

# Utils

tqdm==4.55.2

# API

fastapi==0.61.2
uvicorn==0.11.8
streamlit==0.71.0
